.elgg-page-default {
	min-width: 0px;
}

.elgg-page-header .elgg-inner-nolog.main {
	margin: 0 auto;
	text-align: center;
	height: 48px;
}
.elgg-inner-nolog.main .elgg-menu-item-logo {
	margin: 0 auto;
	float: none;
}
.elgg-inner-nolog.main > h1 {
	font-size: 4em;
	color: #333;
	text-shadow: 0 0 4px #CCCCCC;
	padding: 0;
	margin: 10px auto 0;
	line-height: 1em;
	width: 50%;
}
.elgg-inner-nolog.main .elgg-layout-one-column {
	padding: 0;
}
.background-nolog-main {
	box-shadow:0 0 50px 10px #E6E6E6 inset;
    top:48px;
    position:fixed;
    width:100%;
    z-index:-1;
    margin: 0 0 0 -20px;
}
.elgg-output {
	margin: 0;
}
.elgg-output p {
	margin: 0;
}
.title {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 2em;
	font-weight: bold;
	width: 20%;
	line-height: 1em;
}
.title > li {
	float: left;
	clear: both;
	padding: 0.5em;
	color: #333;
}
.title > li:hover {
	cursor: pointer;
}
.content {
	color: #333333;
	float: left;
	width: 60%;
	margin-top: -68px;
	font-size: 1.2em;
	line-height: 1.6em;
	text-align: justify;
}
.content > li {
	overflow: hidden;
}
#cursor {
	background-color: #4690D6;
	position: fixed;
	left: 0;
	border-radius: 0 10px 10px 0;
	box-shadow: 0 -10px 10px 2px rgba(0, 0, 0, 0.1) inset;
}
.accroche {
	text-align: center;
	color: #4690D6;
	font-size: 2em;
	text-shadow: 0 0 4px #CCC;
	line-height: 1.6em;
	white-space: pre-wrap;
}
.titre {
	font-size: 2em;
	line-height: 1em;
	text-align: left;
}
.titre2 {
	/*color: #4690D6;*/
	font-size: 1.5em;
}
.elgg-output ul {
	margin: 0;
}
.elgg-output ol, .slider {
	margin: 0;
	padding: 0 !important;
	list-style-type: none !important;
}
.slidehed {
	display: none;
}
.carousel-tabs {
	margin-bottom: 20px !important;
}
.carousel-tabs > li {
	display: inline;
	font-size: 1.2em;
	margin-bottom: 5px;
}
.slide .elgg-output {
	float: left;
}
.carousel-tabs > li > a {
	background-color: #CCCCCC;
	display: inline-block;
	margin-right: 10px;
	padding: 0px 10px 1px;
	word-wrap: normal;
}
.carousel-tabs > li.carousel-active-tab > a {
	background-color: #4690D6;
	color: white;
}
.slide {
	opacity: 0;
	float: left;
}
.slide.carousel-active-slide {
	opacity: 1;
}
.slide img {
	width: 49%;
	min-width: 183px;
	padding-bottom: 10px;
}

.ribbon {
	background-color: #E3001E;
	background-image: -moz-linear-gradient(center top , #B7001E, #E3001E);
	box-shadow: 0 1px 10px #000000;
	color: white;
	font: bold 15px Sans-Serif;
	padding: 10px 0;
	position: fixed;
	right: -50px;
	text-align: center;
	top: 40px;
	width: 230px;
	z-index: 2;
	text-shadow: 1px 1px 1px gray;
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	transform: rotate(45deg);
}
@media (min-width: 768px) and (max-width: 1279px) {
	.ribbon {
		font-size: 13px !important;
		right: -65px;
		top: 30px;
	}
}
@media (max-width: 768px) {
	.ribbon {
		font-size: 10px !important;
		padding: 5px 0;
		right: -78px;
		top: 25px;
	}
	.elgg-page-header .elgg-inner-nolog.main {
		height: 24px;
	}
}

.ribbon:hover {
	box-shadow: 0 1px 20px #000000;
}